.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
	color: blue;
}

.carousel-inner {
	width: 100%;
	height: auto;
}

/* padding

#carouselExampleIndicators {
    margin-left: 100px;
    margin-right: 100px;
*/

hr {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color:#666;
  opcaity: 0.5;}
}